//Color-scheme

$main-dark-color: #1f2021;
$main-light-color: #ffffff;
$bg-card-color: #f3f3f3;
$second-color: #6ebbd3;
$border-btn-color: #cacaca;
//Breakpoints-widths

$mobile-width: 767px;
$tablet-width: 991px;
